body{
    overflow-x: hidden;
}
#cards{
    width: 100%;
    height: 35vh;
    display: flex;
    flex-wrap: nowrap;
    gap: 3.5%;
    margin-left: 0.5vw;
    margin-top: 1vh;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: blue;
}

.cards{
    flex-shrink: 0;
    width: 11vw;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-around;
    border-radius: 1vh;
}

.cards i{
    font-size: 10vh;
}


#todos_forms{
    margin-top: 2vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.forms{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 0.5vh ridge rgb(47, 75, 190);
    border-radius: 1vh;
}

#enviar{
    background-color: aqua;
    font-size: 2vh;
    border-radius: 1vh;
    margin-bottom: 1vh;
    height: 5vh;
    width: 8vw; 
}

.forms label{
    color: black;
    font-style: oblique;     
}

.forms input{
    width: 70%;
    margin: 2vh 0;
    border-radius: 1vh;
    font-size: 3vh;
}

.img_card{
    width: 5vw;
    height: 7vh;
}

.titulo_card{
    font-size: 2.5vh;
}

.preco_card{
    font-size: 2vh;
    color: rgb(145, 175, 202);
}

.divBtns{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.btnDeletar{
    width: 3vh;
    height: 3vh;   
    background-color: brown;
    color: brown;
    border-radius: 2vw;
}

.btnAtualizar{
    width: 3vh;
    height: 3vh;
    border-radius: 2vw;
    background-color: darkseagreen;
    color: darkseagreen;
}

.btnDeletar i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 2vh;
}

.btnAtualizar i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 2vh;
}