<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <script src="https://kit.fontawesome.com/b39bb922a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./../styles/cards.css">
    <script type="module" src="./../../controller/cards_controller.js"></script>
</head>
<body>
    <header>
        <div id="cards">
            <!-- <div class="cards" id="1">
                <i class="fa-solid fa-image"></i>
                <h1>título</h1>
                <p>descrição</p>
            </div>
            <div class="cards" id="2">
                <i class="fa-solid fa-image"></i>
                <h1>título</h1>
                <p>descrição</p>
            </div>
            <div class="cards" id="3">
                <i class="fa-solid fa-image"></i>
                <h1>título</h1>
                <p>descrição</p>
            </div>
            <div class="cards" id="4">  
                <i class="fa-solid fa-image"></i>
                <h1>título</h1>
                <p>descrição</p>
            </div>
            <div class="cards" id="5">  
                <i class="fa-solid fa-image"></i>
                <h1>título</h1>
                <p>descrição</p>
            </div>
            <div class="cards" id="6">  
                <i class="fa-solid fa-image"></i>
                <h1>título</h1>
                <p>descrição</p>
            </div>
            <div class="cards" id="7">  
                <i class="fa-solid fa-image"></i>
                <h1>título</h1>
                <p>descrição</p>
            </div>
            <div class="cards" id="8">  
                <i class="fa-solid fa-image"></i>
                <h1>título</h1>
                <p>descrição</p>
            </div> -->
        </div>
    </header>
    <main>
        <section id="todos_forms">

            <form class="forms" action="" id="cadastro_form">
                <h1>Cadastre-se</h1>

                <label for="name">Escreva seu nome</label>
                <input type="text" class="input_name" id="nome_cadastro">

                <label for="">digite seu CPF</label>
                <input type="number" id="cpf_cadastro">
                <label for="">Digite seu número</label>
                <input type="tel" id="telefone_cadastro">
                <label for="">Digite seu email</label>
                <input type="email" id="email_cadastro">

                <button id="enviar">Enviar</button>
                <!-- cpf
                telefone
                email -->

            </form>
            <form class="forms" action="" id="delete_form">
                <h1>Deletar</h1>
                <label for="">Oque deseja excluir?</label>
                <input type="text" class="input_name" id="deletar_algo">
                <button id="enviar">Enviar</button>

            </form>
            <form class="forms" action="" id="att_form">
                <h1>Atualizar</h1>
                <label for="">Novo ID</label>
                <input type="number" class="input_name" id="novo_id">

                <label for="">Novo Nome</label>
                <input type="text" class="input_name" id="novo_nome">

                <label for="">Escreva seu nvo CPF</label>
                <input type="number" id="novo_cpf">

                <label for="">Escreva seu novo telefone</label>
                <input type="tel" id="novo_telefone">

                <label for="">Escreva seu novo email</label>
                <input type="email" id="novo_email">

            </form>
        </section>
    </main>
</body>
</html>